<div class="main-container">
  <div class="main-container-left">
    <div class="inside-left-container">
      <div class="inside-left" *ngFor="let data of evenImgs">
        <div class="div1" *ngIf="firstDiv === 1">
          <div>
            <p>ALDI SUD</p>
            <span>Available for 2 Weeks</span>
          </div>
        </div>
        <div class="addCon1" *ngIf="firstDiv === 1">Will Display Add</div>
        <img *ngIf="showDoubleImg === 2" class="cor-img" [src]="data.img"/>
        <div class="footerEnd">
          <img (click)="pre(data)" class="menu-icon" src="../assets/arrow.png"/>
          <p *ngIf="showDoubleImg === 2" >{{ index }} / 30</p>
          <img (click)="next(data)" class="menu-icon" src="../assets/right-arrow.png"/>
        </div>
      </div>
      <div class="inside-right" *ngFor="let data of oddImgs">
        <!-- <nz-carousel>
          <div nz-carousel-content *ngFor="let data of imgOdd">
            <img class="cor-img" [src]="data"/>
          </div>
        </nz-carousel>    -->
        <img class="cor-img" [src]="data.img"/>
        <div class="footer">
          <img (click)="pre(data)" class="menu-icon" src="../assets/arrow.png"/>
          <p *ngIf="showIndexFirst === 1" >{{ index }}</p>
          <p *ngIf="showDoubleImg === 2" >{{ index }} / 30</p>
          <img (click)="open()" class="menuIcon" src="../assets//menu.png">
          <img *ngIf="nextbtn1" (click)="next(data)" class="menu-icon" src="../assets/right-arrow.png"/>
          <img *ngIf="nextbtn2" class="menu-icon" src="../assets/right-arrow.png"/>
        </div>
      </div>
    </div>
    <nz-drawer
    class="dr"
    [nzClosable]="false"
    [nzVisible]="visible"
    nzTitle="Images ThumbNail"
    (nzOnClose)="close()"
  >
    <ng-container *nzDrawerContent>
      <p>Some contents...</p>
      <p>Some contents...</p>
      <p>Some contents...</p>
    </ng-container>
  </nz-drawer>
  </div>
  <!-- <div class="footer">
    <img (click)="pre()" class="menu-icon" src="../assets/arrow.png"/>
    <p>{{ index + 1 }} / 30</p>
    <img (click)="next()" class="menu-icon" src="../assets/right-arrow.png"/>
  </div> -->
  <div class="main-container-right">
    <h1>Title</h1>
    <div>
      <div class="imgBox">
        <img src="https://static01.eu/1prospekte.de/images/uploads/folder/87858/1.jpg">
        <h3>Image Title</h3>
        <p>Date</p>
      </div>
      <div class="imgBox">
        <img src="https://static01.eu/1prospekte.de/images/uploads/folder/87858/2.jpg">
        <h3>Image Title</h3>
        <p>Date</p>
      </div>
    </div>
    <div class="addCon">Will Display Add</div>
  </div>
</div>

<!-- 
<div class="container">
  <h2>Carousel Example</h2>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner">

      <div class="item active">
        <img src="https://static01.eu/1prospekte.de/images/uploads/folder/87858/1.jpg" alt="Los Angeles" style="width:100%;" class="cor-img">
      </div>

      <div class="item">
        <img src="https://static01.eu/1prospekte.de/images/uploads/folder/87858/2.jpg" alt="Chicago" style="width:100%;" class="cor-img">
      </div>
    
      <div class="item">
        <img src="https://static01.eu/1prospekte.de/images/uploads/folder/87858/3.jpg" alt="New York" style="width:100%;" class="cor-img">
      </div>
  
    </div>

    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div> -->